<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <filter>
        <filter-name>BeerFilter</filter-name>
        <filter-class>com.agh.soa.lab2.BeerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>BeerFilter</filter-name>
        <url-pattern>/lab2/beer</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>javax.faces.ENABLE_CDI_RESOLVER_CHAIN</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>/parking/protected/parkingPassword.xhtml</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>user</web-resource-name>
            <url-pattern>/parking/protected/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINISTRATOR</role-name>
            <role-name>WORKER</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
    <!-- Thy not BASIC: https://stackoverflow.com/questions/233507/how-to-log-out-user-from-web-site-using-basic-authentication -->
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/parking/public/login.xhtml</form-login-page>
            <form-error-page>/parking/public/loginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>ADMINISTRATOR</role-name>
    </security-role>
    <security-role>
        <role-name>WORKER</role-name>
    </security-role>

    <listener>
        <listener-class>com.agh.soa.parking.ParkingSessionListener</listener-class>
    </listener>

</web-app>
